In [ ]:
#--------------------------------------------------------Module – 3------------------------------------------------------------#

In [1]:
#What is List? How will you reverse a list? 
'''a list in data stucture in python that is a mutable, or changable,order sequence of elements,
     each element and value inside the list that called items.
     list consider square brecket[]'''

l1=["haresh",1,2,3,4,'v']
l1.reverse()
print(l1)

['v', 4, 3, 2, 1, 'haresh']

In [12]:
#How will you remove last object from a list?  Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]
list1=[2, 33, 222, 14, 25]
#list1.remove(25)
#list1.pop()
#list1.pop(-1)
#list1.pop(4)
del list1[-1]
print(list1)
# five method any element remove

[2, 33, 222, 14]

In [ ]:
#Differentiate between append () and extend () methods?  

In [15]:
#Write a Python function to get the largest number, smallest num and sum of all from a list
l1=[43,21,45,56,76,79,34,31,43,53,]
print(max(l1))
print(min(l1))
print(sum(l1))

79
21
481

In [ ]:
#How will you compare two lists?

In [21]:
'''Write a Python program to count the number of strings where the string length is 2 or more and 
         the first and last character are same from a given list of strings'''
list1=['haresh','abc','dba','asda','vh7881hv']
cout=0
for i in list1:
    if len(i)>1 and i[0]==i[-1]:#count the how many str in list  first and last later are same
        cout+=1
print(cout)

3

In [32]:
#Write a Python program to remove duplicates from a list. 
a=[1,2,3,3,4,5,6,3,4,2,6,7,8,9]
dup=set(a)
a=list(dup)
print(a)



'''
dup=set()
ui=[]

for i in a:
    if i not in dup:
        ui.append(i)
        dup.add(i)
print(dup)
print(ui)
'''

[1, 2, 3, 4, 5, 6, 7, 8, 9]

'\nui=[]\n\nfor i in a:\n    if i not in dup:\n        ui.append(i)\n        dup.add(i)\nprint(dup)\nprint(ui)\n'

In [34]:
#Write a Python program to check a list is empty or not
list1=["haesh",1,2,'v']
list2=[]

if len(list2)==0:
    print("list is empty")
else:
    print("list is not empty")

list is empty

In [45]:
 #Write a Python function that takes two lists and returns true if they have at least one common member. 
a=[1,2,3,'v',4,5]
b=[9,8,7,'h',6]
result='False'
for i in a:
    for j in b:
        if(i==j):
            result="true"
print(result)

False

In [53]:
'''Write a Python program to generate and print a list of first and last 5 elements 
           where the values are square of numbers between 1 and 30. '''
l1=[]
for i in range(1,30):
    l1.append(i**2)
print(l1[0:5])

l1=[1,2,3,4,5,6,7]
for i in l1:
    i[0:5]=

[1, 4, 9, 16, 25]

In [55]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list. 
l1=[1,2,3,4,5,6,7,1,2,3,4]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 7]

In [60]:
#Write a Python program to convert a list of characters into a string. 
str1="haresh"
l1=list(str1)
print(l1)
new=''
for i in l1:
    new=new+i
    
print(new)

['h', 'a', 'r', 'e', 's', 'h']
haresh

In [66]:
#Write a Python program to select an item randomly from a list. 
import random
list1=[1,2,3,4,'a','b',5]
print(random.choice(list1))

a

In [78]:
#Write a Python program to find the second smallest number in a list. 
l1=[12,13,11,10,9,17,8]
l1.sort()
print(l1)
print(l1[1])
print(l1[-2])

[8, 9, 10, 11, 12, 13, 17]
9
13

In [82]:
#Write a Python program to get unique values from a list  
l1=[1,1,2,2,3,3,4,4]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 2, 3, 4]

In [ ]:
#Write a Python program to check whether a list contains a sub list

In [83]:
#Write a Python program to split a list into different variables. 
l1=[('h',12,2),('v',2,3,4)]
val1,val2=l1
print(val1)

('h', 12, 2)

In [ ]:
#Write a Python program to create a tuple with different data types
tup1=(1,2,3,'false',105,4,5)
tup2=('a','b','c')
tup3=(1,2,3,4,5,'a','b','c')

In [85]:
#Write a Python program to create a tuple with numbers.  
tup1=1,2,3,4,5,6,
print(tup1)
tup2=5,
print(tup2)

(1, 2, 3, 4, 5, 6)
(5,)

In [88]:
#Write a Python program to convert a tuple to a string
tup1=(1,2,3,4,5,6,7)
str1=str(tup1)
print(type(str1))

tup2=('a','b','c')
str1=""
for i in tup2:
    if i not in str1:
        str1=str1+i
print(str1)

<class 'str'>
abc

In [92]:
#Write a Python program to check whether an element exists within a tuple
tup1=(1,2,3,4,5,'a','b','c')
print(a in tup1)
print('a' in tup1)
print(3 in tup1)
print(17 in tup1)

False
True
True
False

In [93]:
#Write a Python program to find the length of a tuple
tup1=(1,2,3,4,5,'a','b','c')
length=len(tup1)
print(length)

8

In [99]:
#Write a Python program to convert a list to a tuple
l1=['a',1,2,3,4]
tup1=tuple(l1)
print(tup1)
l1=list(tup1)
print(l1)

('a', 1, 2, 3, 4)
['a', 1, 2, 3, 4]

In [100]:
#Write a Python program to reverse a tuple
tup1=(1,2,3,4,5,6,7,8,9)
print(tup1[::-1])

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [115]:
#Write a Python program to replace last value of tuples in a list. 
l=[(1,2,3,4),(5,6,7,8),(9,'a',1,2)]

print([a[:-1]+(101,) for a in l])

[(1, 2, 3, 101), (5, 6, 7, 101), (9, 'a', 1, 101)]

In [120]:
#Write a Python program to find the repeated items of a tuple
t=(1,2,3,4,5,6,7,8,9,'a',1,2)
dict1={}

for i in t:
    keys=dict1.keys()
    if i in keys:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

print(t.count(1))

{1: 2, 2: 2, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 'a': 1}
2

In [127]:
#Write a Python program to remove an empty tuple(s) from a list of tuples
t=[(),( ),( ),('a'),(1,2,3)]

l=[t for t in l if t]
print(l)

['a', (1, 2, 3)]

In [128]:
#Write a Python program to unzip a list of tuples into individual lists
l=[(1,2,3),(4,5,6),(7,8,9)]
print(list(zip(*l)))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [133]:
#Write a Python program to convert a list of tuples into a dictionary
list1=[("haresh",100),("ram",93)]
dict1={}
for a ,b in list1:
    dict1.setdefault(a,[]).append(b)
print(dict1)

{'haresh': [100], 'ram': [93]}

In [3]:
#How will you create a dictionary using tuples in python? 

tup=((11,"haresh"),(12,"ram"),(13,"vh"))
print(tup)
print()
dct=dict((y,x) for y,x in tup)
print(dct)

((11, 'haresh'), (12, 'ram'), (13, 'vh'))

{11: 'haresh', 12: 'ram', 13: 'vh'}

In [7]:
#Write a Python script to sort (ascending and descending) a dictionary by value. 
import operator
d={1:2,3:4,4:3,2:1,0:0}
print("original dict:",d)
asc=sorted(d.items(), key=operator.itemgetter(1))
print("sort:",asc)
dese=dict(sorted(d.items(),key=operator.itemgetter(1),reverse=True))
print("deesendind:",dese)

original dict: {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sort: [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
deesendind: {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [9]:
#Write a Python script to concatenate following dictionaries to create a new one. 
dict1={1:10,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60}
dict4={}
for d in (dict1,dict2,dict3):
    dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
#Write a Python script to check if a given key already exists in a dictionary. 
d={1:2,3:4,4:3,0:6}
x=0
if x in d:
    print("yes")
else:
    print("no")

yes

In [ ]:
#How Do You Traverse Through A Dictionary Object In Python?

In [17]:
#How Do You Check The Presence Of A Key In A Dictionary?
dic={'a':100,'b':200,'c':300,'a':400}

if dic.get('e')==None:
    print("not present")
else:
    print("present")

not present

In [19]:
#Write a Python script to print a dictionary where the keys are numbers between 1 and 15. 

d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [24]:
#Write a Python program to check multiple keys exists in a dictionary 
dic={'a':100,'b':200,'c':300,'a':400}
print(d.keys() >={100,200})
print(d.keys() >={'e','b'})
print(d.keys() >={'c','a'})

False
False
False

In [25]:
#Write a Python script to merge two Python dictionaries 
d1={'a':100,'b':200}
d2={'c':300,'a':400}
d=d1.copy()
d.update(d2)
print(d)#douplicate value not consider

{'a': 400, 'b': 200, 'c': 300}

In [27]:
#Write a Python program to map two lists into a dictionary 
key=['red','orange','yellow','green']
value=[100,200,300,400]
color=dict(zip(value,key))
print(color)

{100: 'red', 200: 'orange', 300: 'yellow', 400: 'green'}

In [32]:
#Write a Python program to combine two dictionary adding values for common keys. 
d1 = {'a': 100, 'b': 200, 'c':300} 
d2 = {'a': 300, 'b': 200, 'd':400} 
d3={}
for x,y in d1.items():
    for x1,y1 in d2.items():
        if x==x1:
            d3[x]=(y+y1)
print(d3)

{'a': 500, 'b': 400}

In [35]:
#Write a Python program to print all unique values in a dictionary.   

l=[{"v":"s001"},{"v":"s002"},{"vi":"s001"},{"vi":"s005"},{"v","s009"},{"vii":"s005"},{"viii":"s007"}]
print("original list:",l)
dval=set(val for dict in l for val in dict.values())
print(dval)

original list: [{'v': 's001'}, {'v': 's002'}, {'vi': 's001'}, {'vi': 's005'}, {'s009', 'v'}, {'vii': 's005'}, {'viii': 's007'}]

AttributeError: 'set' object has no attribute 'values'

In [ ]:
#Why Do You Use the Zip () Method in Python?

In [ ]:
#Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.

In [36]:
#Write a Python program to find the highest 3 values in a dictionary 
dtc={'a':60,'b':45,'c':75,'d':20,'e':35,'f':70,'g':10,'h':93}
x=list(dtc.values())
d=dict()
x.sort(reverse=True)
x=x[:3]
for i in x:
    for j in dtc.keys():
        if(dtc[j]==i):
            print(str(j)+"  :  "+str(dtc[j]))

h  :  93
c  :  75
f  :  70

In [ ]:
#Write a Python program to combine values in python list of dictionaries. 

data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':  300}, {'item': 'item1', 'amount': 750}]

 Write a Python function to calculate the factorial of a number (a nonnegative integer)
num=input("enter number:")
fact=1
for i in range(1,num+1):
    fact=fact*i
print(num,"this number factorial is:",fact)

In [42]:
num=int(input("enter number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(num,"this number factorial is:",fact)

enter number:4
4 this number factorial is: 24

In [47]:
#Write a Python function to check whether a number is in a given range 
num=int(input("enter number:"))

if num in range(1,20):
    print("yes this ",num," in a range")
else:
    print("no this ",num," not in a range")

enter number:21
no this  21  not in a range

In [52]:
#Write a Python function to check whether a number is perfect or not. 
num=int(input("enter number:"))
sum=0
for x in range(1,num):
    if num%x==0:
        sum += x
    return sum == n
print(num)

enter number:28

SyntaxError: 'return' outside function (2860924648.py, line 7)

In [9]:
#Write a Python function that checks whether a passed string is palindrome or not 
str1=input("Enter string:")
str2=str1[::-1]
print(str2)
if str1==str2:
    print(f"string is {str1} is palidrome")
else:
    print(f"string is {str1} is not palidrome")

Enter string:252
252
string is 252 is palidrome

In [ ]:
#How Many Basic Types Of Functions Are Available In Python
'''
three type of function are available in python
1.Built-in function
2.User-Define function
3.Anonymous function
'''

In [58]:
#How can you pick a random item from a list or tuple? 
#list
import random
list1=['a','b','c','d','e','f','g','h']
print(random.choice(list1))

#tuple
tup1=(0,1,2,3,4,5,6,7,8,9)
print(random.choice(tup1))

d
5

p+.Lx9=Z[fN6

In [48]:
#password genrate
import random
import string

length_password=8

lower=string.ascii_lowercase
upper=string.ascii_uppercase
digit=string.digits
pun=string.punctuation

passw=lower+upper+digit+pun

temp=random.sample(passw,length_password)
pwd=''.join(temp)
print(f"your password is: {pwd}")

your password is: 0Bw7P,v;

In [96]:
#How can you pick a random item from a range? 
import random
num=random.choice(range(0,100,5))
print(num)

60

In [98]:
#How can you get a random number in python? 
import random
num=random.randint(0,9)
print(num)

7

In [ ]:
#How will you set the starting value in generating random numbers?

In [107]:
# How will you randomizes the items of a list in place?
import random
list1=[1,2,3,9,8,4,7,5,6]
random.shuffle(list1)
print(list1)
print()
random.shuffle(list1)
print(list1)

[6, 5, 1, 2, 8, 3, 4, 9, 7]

[9, 8, 4, 2, 3, 5, 6, 1, 7]

In [111]:
#Write a Python program to read a random line from a file. 
import random
def random_line(qry):
    lines=open(qry).read().splitlines()
    return random.choice(lines)
print(random_line('test.txt'))

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [121]:
#Write a Python program to convert degree to radian 
degree=float(input("Enter Degree:"))
radian=degree*(3.14/180)
print(f"degree: {degree} after convert radian:{'%.4f' %radian}")

Enter Degree:2
degree: 2.0 after convert radian:0.0349

In [126]:
#Write a Python program to calculate the area of a trapezoid  
a=float(input("Enter Base a:"))
b=float(input("Enter Base b:"))
h=float(input("Enter height h:"))
A=((a+b)/2)*h
print(f"base a is {a} , base b is {b} ,height is {h} total area of trapezoid {A}")

Enter Base a:10
Enter Base b:20
Enter height h:5
base a is 10.0 , base b is 20.0 ,height is 5.0 total area of trapezoid 75.0

In [128]:
#Write a Python program to calculate the area of a parallelogram   
b=float(input("Enter Base b:"))
h=float(input("Enter height h:"))
A=b*h
print(A)

Enter Base b:5
Enter height h:3
15.0

In [134]:
#Write a Python program to calculate surface volume and area of a cylinder 
'''
surface volme=pir2h
surface area of a cylinder=a=2pir2+2pirh
'''
#surface volume

pi=3.14
r=float(input("Enter radi r:"))
h=float(input("Enter height h:"))

surfacevolume=(pi*r*2*h)

print("surface volume",'%.2f' %surfacevolume)

print()

#surface area 

pi=3.14
r=float(input("Enter radi r:"))
h=float(input("Enter height h:"))
A=(2*3.14*(r**2))+(2*3.14*r*h)

print("Surface area of cylinder:",A)

Enter radi r:2
Enter height h:5
surface volume 62.80

Enter radi r:2
Enter height h:5
Surface area of cylinder: 87.92

In [152]:
#Write a Python program to returns sum of all divisors of a number 
div=[1]
num=int(input("Enter number:"))

for i in range (2,num):
    if num%i==0:
        div.append(i)
print(div)      
sum=0
for i in range(0,len(div)):
    sum=sum+div[i]
print(sum)

Enter number:12
[1, 2, 3, 4, 6]
16

In [154]:
#Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.  
desi=2.10,21.2,4.56,67.23
print("maximum:",max(desi))
print("minimum:",min(desi))

maximum: 67.23
minimum: 2.1